.user-info-container {
	width: auto;
	margin-bottom: 16px;
}

.user-img-container {
	width: auto !important;
	margin-bottom: 16px;
}

.about-me {
	margin-bottom: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid orange;
}

.user-profile-image {
	border-radius: 100%;
	border: 1px solid gray !important;
	margin-top: 16px;
	margin-right: 16px;
}

.skills-container, .hobbies-container {
	display: inline-block;
	width: 100%;
}

.tag-container {
	border-top: 1.5px solid orange;
	margin-bottom: 16px;
	padding-top: 8px;
}

.tag-container>.label {
	background: orange !important;
}

.quote-container {
	margin-top: 8px;
	padding-top: 8px;
}

/* .quote {
	quotes: "\201C" "\201D" "\2018" "\2019";
}
.quote:before {
	color: orange;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
} */

.input-textarea {
	width: 400px !important;
	height: 200px !important;
}